* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* In my root I established 2 varibales I commonly used to allow easier styling*/
:root {
    --accent: rgb(241, 206, 140);
    --pop: #bb3e03;
}

/* font-face allowed me to use custom fonts the better style my portfolio */
@font-face {
    font-family: "Blacksword";
    src: url("../fonts/Blacksword.otf");
}

@font-face {
    font-family: "Loves";
    src: url("../fonts/LOVES.ttf");
}


body {
margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #333;
}

main {
    display: flex;
    flex-wrap: wrap;
}

/* navbar styling starts */
.navbar {
    display: flex;
    justify-content: center;
    padding: 25px 30px;
    background: rgb(241, 206, 140, 0.8);
    color: black;
}

.navbar ul {
    display: flex;
    list-style: none;
}


.navbar ul li {
    font-family: "Loves", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: bold;
    transition: all .8s ease;
}

.navbar ul li a {
    text-decoration: none;
    padding: 25px 30px;
    transition: all .8s ease;
    color:black;
}

/* navbar hover effects */
.navbar ul li a:hover {
    background-color: var(--pop);
    color: white;
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.5);
}
/* navbar styling ends */

/* background styling between navbar and main content area starts */
.home {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.5);
    height: 700px;
    justify-content: center;
    align-items: center;
    color: white;
}

/* styling background image */
.home::before {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    background: url("../images/IMG-7016-copy.jpg") no-repeat center  center/cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.main {
    padding: 20px;
    border-left: 5px solid var(--pop);
    border-bottom: 5px solid var(--pop);
    /* background-color: rgba(233, 233, 233, 0.445); */
    position: absolute;
    top: 30%;
    left: 10%;
}
/* background styling between navbar and main content area ends*/

/* About me section styling starts */
.aboutMe {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    font-family: "Loves", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 46px;
    text-align: center;
    background-color: var(--accent);
    color: black;
    /* text-shadow: #fff 0px 0px 5px; */
}

/* styling for span seperating "About Me" and "Work" from their repsective paragraphs */
.break-1 {
    background-color: rgb(143, 143, 143);
    height: auto;
    width: 10px;
}

.intro {
    display: inline-block;
    flex: 2 0;
    text-align: left;
    padding: 25px;
    background-color: var(--accent);
}
/* About me section styling starts */

/* Work section styling starts */
.work {
    display: flex;
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    color: black;
    
}
/* Work header styling */
.work h2 {
    display: flex;
    font-family: "Loves", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 76px;
    justify-content: center;
    align-items: center;
}
/* Work section styling starts */

/* Grid section styling starts */
.grid-container {
    display: grid;
    flex: 2;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 25px;
    background-color: var(--accent);
}

/* grid cell styling */
.grid-item {
    display: flex;
    height: 210px;
    position: relative;
    background-size: cover;
    background-position: center;
}

/* grid cells hover effects */
.grid-item:hover {
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.5);
}

/* header 3 styling in grid cells */
.grid-item h3{
    display: flex;
    position: absolute;
    top: 80%;
    right: 5px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    background-color: var(--pop);
    /* rgba(40, 120, 240, 0.616); */
}

/* header 3 in grid cells hover effects */
.grid-item h3:hover {
    text-decoration: none;
    color: #fff;
}
/* FIrst item in grid styled to allow it to span/stretch to 2 the second column allowing it to be larger than the other cells */
.grid-col-span-2 {
    grid-column: span 2;
    background-image: url("../images/Horiseon\ Social\ Solution\ Services.png");
    background-size: cover;
    background-position: center;
}

.professional-portfolio {
    background-image: url("../images/IMG-7016-copy.jpg");
}

.placeholder-3 {
    background-image: url("../images/aloha-vector.jpg");
}

.placeholder-4 {
    background-image: url("../images/palm-tree-vector.jpg");
}

.placeholder-5 {
    background-image: url("../images/surfboard-vector.jpg");
}
/* About me section styling starts */

/* footer contact links section styling starts */
footer {
    display: flex;
    justify-content: center;
    padding: 25px 30px;
    background: rgb(241, 206, 140, 0.8);
    color: black;
    order: 0;
}
footer h3 {
    display: flex;
    justify-content: center;
    font-family: "Loves", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: bold;
    
}
footer ul {
    display: flex;
    list-style: none;
}

footer ul li {
    font-family: "Loves", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: bold;
    transition: all .8s ease;
}

footer ul li a {
    text-decoration: none;
    padding: 25px 30px;
    color:black;
}

/* footer hover effects */
footer ul li a:hover {
    background-color: var(--pop);
    color: white;
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.5);
}
/* footer contact links section styling starts */

#name {
    font-family: "Blacksword", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 86px;
    text-align: center;
    color: #fff;
    text-shadow: black 0px 0px 5px;
}

@media screen {
    
}